appdirs==1.4.4
asgiref==3.3.4
beautifulsoup4==4.10.0
black==21.6b0
bleach==4.1.0
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
click==8.0.1
colorama==0.4.3
contextlib2==0.6.0
distlib==0.3.0
distro==1.4.0
Django==2.2.24
django-datetime-widget==0.9.3
django-easy-audit==1.3.0
django-filter==2.4.0
django-tempus-dominus==5.1.2.14
djangorestframework==3.12.4
drf-api-logger @ file:///opt/djangodemo/packages/drf_api_logger-1.0.8.tar.gz
html5lib==1.0.1
idna==2.8
ipaddr==2.2.0
lockfile==0.12.2
msgpack==0.6.2
mypy-extensions==0.4.3
packaging==21.0
pathspec==0.8.1
pep517==0.8.2
pkg_resources==0.0.0
progress==1.5
psycopg2-binary==2.9.2
pyparsing==2.4.7
pytoml==0.1.21
pytz==2021.1
regex==2021.7.6
requests==2.22.0
retrying==1.3.3
six==1.14.0
soupsieve==2.3.1
sqlparse==0.4.1
toml==0.10.2
typing==3.7.4.3
urllib3==1.25.8
webencodings==0.5.1
python==3.10
